:root{
    font-size: 16px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f8f1f1;
}

.container{
    display: flex;
    flex-direction: column;
}

.mainTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    margin: 2rem 1rem;
}

.title2{
    font-weight: 300;
    font-size: 2rem;
    margin: 0 1rem;
}

.bigText{
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 2.8rem;
}

.card{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 95%;
    margin: 2rem auto;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-radius: 5px;
}

.card dt{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 2rem;
    text-align: center;
}

.card dd{
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 90%;
    line-height: 2rem;
}

.card img{
    max-width: 90%;
    margin: 1rem auto;
}

.button{
    text-decoration: none;
    color: #f8f1f1;
    font-weight: 700;
    display: block;
    text-align: center;
    min-width: 190px;
    max-width: 240px;
    margin: 2.4rem auto;
    padding: 1rem 2rem;
    background-image: linear-gradient(to bottom right, #dc4040 0%, #b72e72 100%);       
    border-radius: 5px;
    transition: all 100ms;
}

.button:hover{
    text-decoration: none;
    color: #f8f1f1;
    font-weight: 700;
    display: block;
    text-align: center;
    min-width: 190px;
    max-width: 240px;
    margin: 2.4rem auto;
    padding: 1rem 2rem;
    background-image: linear-gradient(to bottom right, #dc4040 0%, #b72e72 100%);       
    border-radius: 5px;
    transform: scale(1.2);
    box-shadow: 5px 5px 5px 0px #a1a1a1;
}

header{
    background: #31bacc;
    position: fixed;
    width: 100%;
}

.main-nav{
    height: 90px;
    scroll-margin-top: 5rem;
}

.logo{
    color: #fff;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
}

.nav-links{
    list-style: none;
    float: right;
    line-height: 90px;
    margin: 0;
    padding: 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 20px;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s linear 0s;
    text-transform: uppercase;
}

.nav-links li a:hover{
    color: #7ebcb9;
    padding-bottom: 7px;
    border-bottom: 2px solid #7ebcb9;
}

#check{
    display: none;
}

.menu-btn{
    font-size: 25px;
    color: #fff;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
}

section{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 3.6rem auto 3.2rem;
}

#home{
    background-image: linear-gradient(#31bacc,#f8f1f1);
}

#home img{
    border-radius: 50%;
    max-width: 95%;
    height: auto;
    margin: 0 auto;
}

p{
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 1.6rem 0.8rem;
    padding: 0 1rem;
}

iframe{
    margin: 0 auto;
    max-width: 100%;
    display: block;
}

footer{
    height: 4rem;
    background-color: #31bacc;
    text-align: center;
    overflow: hidden;
}

footer p{
    margin-top: 1rem;
    font-size: 1.2rem;
}

/*CSS Accordion*/

input{
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tabs{
    border-radius: 10px;
    max-width: 95%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab{
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #dc4040 0%, #b72e72 100%);
}

.tab-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.2rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    color: #f8f1f1;
}

.tab-label:hover{
    opacity: 0.8;
}

.tab-label:after{
    content: "\276f";
    width: 1rem;
    height: 1rem;
    text-align: center;
    transition: all 0.35s;
}

.tab-content{
    max-height: 0;
    padding: 0 1rem;
    color: #070303;
    background: #f8f1f1;
    transition: all 0.35s;
}

input:checked +.tab-label{
    background-image: linear-gradient(to bottom right, #a41313 0%, #831049 100%);
}

input:checked + .tab-label:after{
    transform: rotate(90deg);
}

input:checked ~ .tab-content{
    max-height: 100vh;
    padding: 2rem;
}

/*--------Media Queries--------*/

@media (max-width: 800px){

    .nav-links{
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
        right: -100%;
        background: #222831;
    }

    .nav-links li{
        display: block;
    }

    .nav-links li a{
        font-size: 20px;
    }

    .nav-links li a:hover{
        border-bottom: none;
    }

    .menu-btn{
        display: block;
    }

    #check:checked ~ .nav-links{
        right: 0;
    }

}

@media (max-width: 360px){
    .logo{
        margin-left: 10px;
        font-size: 25px;
    }

    .menu-btn{
        margin-right: 10px;
        font-size: 25px;
    }

    .menu-btn:focus{
        color: blue;
    }
}

/*

@media screen and (max-width: 768px){

    nav{
        height: 3.1rem;
        display: inline-block;
    }
    ** (A) BREAK INTO VERTICAL MENU **
    #hamitems a {
        text-decoration: none;
        box-sizing: border-box;
        display: block;
        color: #070303;
        background-color: #31bacc;
        width: 100%;
        border-top: 1px solid #333;
        font-size: 1.6rem;
        padding: 1rem 1rem;
    }
    ** (B) SHOW HAMBURGER ICON **
    #hamnav label { 
        display: inline-block;
    }

    label[for="hamburger"]{
        font-size: 3rem;
        margin-top: 1rem;
        padding-left: 1rem;
    }
  
   ** (C) TOGGLE SHOW/HIDE MENU **
    #hamitems { 
        display: none; }
    #hamnav input:checked ~ #hamitems { 
        display: block; }
  }

  #hamnav {
        position: sticky;
        top: 0;
  }

  */

  